/* oxygen-regular - latin */

@font-face {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    src: url('lib/font/oxygen-v7-latin/oxygen-v7-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Oxygen Regular'), local('Oxygen-Regular'), url('lib/font/oxygen-v7-latin/oxygen-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('lib/font/oxygen-v7-latin/oxygen-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('lib/font/oxygen-v7-latin/oxygen-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('lib/font/oxygen-v7-latin/oxygen-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('lib/font/oxygen-v7-latin/oxygen-v7-latin-regular.svg#Oxygen') format('svg');
    /* Legacy iOS */
}

body {
    margin-top: 56px;
    background: #fff;
    font-family: oxygen, sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

section p {
    font-size: 1.2em;
}

section p:before {
    content: '♦';
    margin-right: 15px;
    color: #6c757d;
    font-size: 2em;
    line-height: 0.4em;
    position: relative;
    top: 6px;
}

details>summary {
    padding-top: 10px;
    padding-bottom: 20px;
}

kbd {
    margin-left: 5px;
    margin-right: 5px;
}

.blockquote {
    font-size: 1rem;
}

section h1 {
    margin-bottom: 30px;
}

article>h2, article>h3, article>h4, article>h5, article>h6 {
    margin-top: 30px;
}

main {
    margin: 20px;
    padding-top: 20px;
}

#reference>ul {
    list-style-type: none;
}

/** Relative positioning of hidden div for anchor. It prevent the scroll target to be under the navbar  */

section>div:first-child, article>div:first-child, .anchor-moodle-button {
    display: block;
    position: relative;
    top: -85px;
    visibility: hidden;
}

article.contain-h2 {
    margin-left: 50px;
}

article.contain-h3 {
    margin-left: 100px;
}

article.contain-h4 {
    margin-left: 150px;
}

article.contain-h5 {
    margin-left: 200px;
}

article.contain-h6 {
    margin-left: 250px;
}

.list-group {
    margin-bottom: 30px;
}

.list-group-item>.list-group {
    margin-top: 12px;
    margin-left: 20px;
    margin-bottom: 10px;
}

pre code.hljs {
    padding: 0 0 0 20px;
}

.card {
    margin: 30px 0 30px 0;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #6c757d;
}

.nav-item a.nav-link {
    color: white;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.dropdown-menu-scroll {
    overflow-y: scroll;
    height: 480px;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #343a40;
    color: white;
}

div.card button {
    float: right;
}

@media print {
    .noprint {
        visibility: hidden;
    }
}

/*
    START: custom fix until next release
    -------------------------------------------------
*/

/* Hard code style from bootstrap class="text-muted" */

details {
    color: #6c757d !important;
}

details summary {
    /* Remove the default triangle in Firefox */
    list-style-type: none;
    /* Disable chrome focus state (black line) */
    outline: none;
}

details summary::-webkit-details-marker {
    /* Remove the default triangle in Chrome */
    display: none
}

details summary::before {
    display: inline-block;
    content: '⛏';
    padding-right: 15px;
    font-size: 1.5em;
    line-height: 0.4em;
    position: relative;
    top: 6px;
}

details summary:hover::before {
    transform: rotate(45deg);
}

details[open] summary::before {
    transform: rotate(90deg);
}

details>div {
    background-color: #f7f7f9;
    margin-left: 50px;
    font-size: 0.7em;
}

details>div p:before {
    display: inline-block;
    content: '⛏';
    transform: rotate(135deg);
    margin-right: 15px;
    font-size: 1em;
    top: 0;
}